html {
  background-color: black;
  background-image: url(./images/Logo/badHombresLogo.jpg);
  background-size:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}