.navbar {
  background-color: black;
  z-index: 100;
}

.navbar-nav {
  background-color: black;
}

.item {
  margin-left: 20px;
}

.followText {
  margin-top: 25px;
  margin-left: 20px;
  height: 30px;
}

.facebook, .instagram {
  height: 30px;  
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 10px;
}

.facebook:hover, .instagram:hover {
  box-shadow: 4px 4px 5px 0 rgba(255,255,255,0.5);
}